Repository ingonyama-zk/icicle, pull requests merged in 2024-04, with the labels that each got.

#453 NTT inplace in Rust
  icicle/appUtils/ntt/ntt.cu
  wrappers/rust/icicle-core/src/ntt/mod.rs
  wrappers/rust/icicle-core/src/ntt/tests.rs
Labels: area:ntt, lang:rust

#470 Tests and benches for extension fields
  icicle/benchmarks/CMakeLists.txt
  icicle/benchmarks/README.md
  icicle/benchmarks/curve_benchmarks.cu
  icicle/benchmarks/field_benchmarks.cu
  icicle/include/curves/projective.cuh
  icicle/include/fields/quadratic_extension.cuh
  icicle/include/fields/quartic_extension.cuh
  icicle/include/gpu-utils/modifiers.cuh
  icicle/src/ntt/extern_ecntt.cu
  icicle/src/ntt/ntt.cu
  icicle/tests/curve_test.cu
  icicle/tests/field_test.cu
Labels: lang:cuda/cpp, area:tests, testing

#473 remove generics
  wrappers/golang/core/slice.go
  wrappers/golang/core/slice_test.go
  wrappers/golang/curves/bls12377/curve.go
  wrappers/golang/curves/bls12377/ecntt/ecntt.go
  wrappers/golang/curves/bls12377/g2/g2_curve.go
  wrappers/golang/curves/bls12377/g2/g2_msm.go
  wrappers/golang/curves/bls12377/g2/g2_msm_test.go
  wrappers/golang/curves/bls12377/msm.go
  wrappers/golang/curves/bls12377/msm_test.go
  wrappers/golang/curves/bls12377/ntt.go
  wrappers/golang/curves/bls12377/ntt_test.go
  wrappers/golang/curves/bls12377/scalar_field.go
  wrappers/golang/curves/bls12377/vec_ops.go
  wrappers/golang/curves/bls12381/curve.go
  wrappers/golang/curves/bls12381/ecntt/ecntt.go
  wrappers/golang/curves/bls12381/g2/g2_curve.go
  wrappers/golang/curves/bls12381/g2/g2_msm.go
  wrappers/golang/curves/bls12381/g2/g2_msm_test.go
  wrappers/golang/curves/bls12381/msm.go
  wrappers/golang/curves/bls12381/msm_test.go
  wrappers/golang/curves/bls12381/ntt.go
  wrappers/golang/curves/bls12381/ntt_test.go
  wrappers/golang/curves/bls12381/scalar_field.go
  wrappers/golang/curves/bls12381/vec_ops.go
  wrappers/golang/curves/bn254/curve.go
  wrappers/golang/curves/bn254/ecntt/ecntt.go
  wrappers/golang/curves/bn254/g2/g2_curve.go
  wrappers/golang/curves/bn254/g2/g2_msm.go
  wrappers/golang/curves/bn254/g2/g2_msm_test.go
  wrappers/golang/curves/bn254/msm.go
  wrappers/golang/curves/bn254/msm_test.go
  wrappers/golang/curves/bn254/ntt.go
  wrappers/golang/curves/bn254/ntt_test.go
  wrappers/golang/curves/bn254/scalar_field.go
  wrappers/golang/curves/bn254/vec_ops.go
  wrappers/golang/curves/bw6761/curve.go
  wrappers/golang/curves/bw6761/ecntt/ecntt.go
  wrappers/golang/curves/bw6761/g2/g2_curve.go
  wrappers/golang/curves/bw6761/g2/g2_msm.go
  wrappers/golang/curves/bw6761/g2/g2_msm_test.go
  wrappers/golang/curves/bw6761/msm.go
  wrappers/golang/curves/bw6761/msm_test.go
  wrappers/golang/curves/bw6761/ntt.go
  wrappers/golang/curves/bw6761/ntt_test.go
  wrappers/golang/curves/bw6761/scalar_field.go
  wrappers/golang/curves/bw6761/vec_ops.go
  wrappers/golang/internal/generator/templates/curve.go.tmpl
  wrappers/golang/internal/generator/templates/ecntt.go.tmpl
  wrappers/golang/internal/generator/templates/msm.go.tmpl
  wrappers/golang/internal/generator/templates/msm_test.go.tmpl
  wrappers/golang/internal/generator/templates/ntt.go.tmpl
  wrappers/golang/internal/generator/templates/ntt_test.go.tmpl
  wrappers/golang/internal/generator/templates/scalar_field.go.tmpl
  wrappers/golang/internal/generator/templates/vec_ops.go.tmpl
  wrappers/golang/internal/generator/templates/vec_ops_test.go.tmpl
Labels: lang:go

#484 Fix golang vec ops config
  docs/docs/icicle/golang-bindings/vec-ops.md
  docs/docs/icicle/rust-bindings/vec-ops.md
  wrappers/golang/core/vec_ops.go
  wrappers/golang/core/vec_ops_test.go
Labels: type:bug, area:vec, lang:go

#450 Rust ECNTT bindings
  icicle/src/fields/CMakeLists.txt
  icicle/src/ntt/ntt.cu
  wrappers/rust/icicle-core/Cargo.toml
  wrappers/rust/icicle-core/src/ecntt/mod.rs
  wrappers/rust/icicle-core/src/ecntt/tests.rs
  wrappers/rust/icicle-core/src/lib.rs
  wrappers/rust/icicle-core/src/ntt/mod.rs
  wrappers/rust/icicle-curves/icicle-bls12-377/Cargo.toml
  wrappers/rust/icicle-curves/icicle-bls12-377/benches/ecntt.rs
  wrappers/rust/icicle-curves/icicle-bls12-377/src/ecntt/mod.rs
  wrappers/rust/icicle-curves/icicle-bls12-377/src/lib.rs
  wrappers/rust/icicle-curves/icicle-bls12-381/Cargo.toml
  wrappers/rust/icicle-curves/icicle-bls12-381/benches/ecntt.rs
  wrappers/rust/icicle-curves/icicle-bls12-381/src/ecntt/mod.rs
  wrappers/rust/icicle-curves/icicle-bls12-381/src/lib.rs
  wrappers/rust/icicle-curves/icicle-bn254/Cargo.toml
  wrappers/rust/icicle-curves/icicle-bn254/benches/ecntt.rs
  wrappers/rust/icicle-curves/icicle-bn254/src/ecntt/mod.rs
  wrappers/rust/icicle-curves/icicle-bn254/src/lib.rs
  wrappers/rust/icicle-curves/icicle-bw6-761/Cargo.toml
  wrappers/rust/icicle-curves/icicle-curve-template/Cargo.toml
  wrappers/rust/icicle-fields/icicle-babybear/src/ntt/mod.rs
Labels: area:ntt, lang:rust
